body {
    font-family: Arial, sans-serif;
      background-color: #e6f7ff; /* Light blue */
    color: #333; /* Dark text for readability */
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
} 



#rotating-service {
    text-align: center;
    margin: 20px;
}

#rotating-service .service {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px auto;
    width: 50%;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

#rotating-service .service:hover {
    transform: scale(1.05);
}

#rotating-service .service img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}
section {
    padding: 20px;
}

#services {
    display: flex;
     
    flex-wrap: wrap;
    justify-content: space-around;
}

.service {
    border: 1px solid #ccc;
    padding: 20px;
    text-color:white;
    background-color:white;
    margin: 10px;
    width: 30%;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.service:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

label, input, textarea, button {
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
